body{
	background: #F5F5F5;
	margin: auto;
	width: 100%;
	height: 100%;
}

header{
	width: 100%;
}

header .banner{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 6px;
	width: 100%;
	height: 10%;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background: greenyellow;
	margin-bottom: 1.5em;
}

header .bannerNombre{
	font-size: 20px;
}

header .bannerLinks{
	display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    font-size: 15px;
    width: 60%;
    justify-content: flex-end;
}

.bannerLinks li{
	padding: auto;
	margin: 10px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 200;
	font-size: 15px;
	line-height: 14px;
	list-style: none;	
}

.bannerLinks li a{
	color: #464646;
	text-decoration:none;
}

main{
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-right: 5%;
	font-weight: 900;
	color: #242424;
}

main div{
	display: flex;
}


main div .presentacion{
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 5%;
}


.presentacionInfo{
	display: flex;
	flex-direction: column;
	padding: 0px;
	gap: 0px;
	height: 30%;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.presentacionInfo h3{
	width: auto;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	margin: 0px;
	padding: 0px;
	color: #464646;
}

.presentacionInfo h6+h4{
	width: auto;
	padding: 0px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	color: #464646;
}

.presentacionInfo ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 1em;
	font-size: 15px;
	width: auto;
	height: 10%;
}

.presentacionInfo ul li{
	padding: auto;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 200;
	font-size: 15px;
	line-height: 14px;
	list-style: none;		
}

.presentacionInfo ul li a{
	color: #464646;
	text-decoration:none;
}

.presentacionInfo ul li a .gmail{
	display: flex;
}

.presentacion .foto{
	width: auto;
	display: flex;

}

.presentacion .foto img{
	width: auto;
	height: 200px;
	border-radius: 60px;
}

main section{
	display: flex;
	flex-direction: column;
}

main section .info{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	margin: auto;
	width: 90%;

}

.info .infoSobremi {
    font-family: 'Raleway';
    display: flex;
    padding: 0px;
    gap: 0px;
    height: 30%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    align-self: stretch;
    flex-direction: column;
    align-items: center;
}


.info .infoSkills{
	display: flex;
	flex-direction: column;
	gap: 0%;
}


.infoSkills .skillsBoxes{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.infoSkills .skillsBoxes .skillsBox{

}

.infoSkills .skillsBoxes .skillsBox ul{
	list-style: none;
}


.skillsBox ul li img{
	height: 50px;
	width: 50px;
}

.info .infoHobbies{
	display: flex;
	flex-direction: column;
}

.infoHobbies .hobbiesBoxes{
	display: flex;
	justify-content: space-around;
}

.infoHobbies .hobbiesBoxes .hobbiesBox ul{
	list-style: none;
}

.hobbiesBox ul li img{
	height: 80px;
	width: 90px;
	border-radius: 15px;
	margin: 1px;
}

.info .infoFormacion{
	display: flex;
	flex-direction: column;
}

.infoFormacion .formacionBoxes{
	display: flex;
	justify-content: space-between;
}

.infoFormacion .formacionBoxes .formacionBox ul{
	list-style: none;
}



.formacionBox ul li img{
	height: 80px;
	width: 90px;
	border-radius: 15px;
	margin: 1px;
}

.info .infoProyectos{
	display: flex;
}

section .infoContactos{
	display: flex;
	flex-direction: column;
}

.infoContactos form{
	background: lightgrey;
	width: 90%;
	margin: auto;
	padding-top: 20px;
	border-radius: 25px;
}

form .formDatos{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.formDatos div{
	margin: 5px;
}

.formDatos div input{
	margin: 5px;
}

form .formMensaje{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.formMensaje textarea{
	resize: none;
}

form .enviar{
	display: flex;
	justify-content: center;
	margin: 5px;
}

.enviar button{

	background: blueviolet;
	color: lightgrey;
	border-radius: 20px;
}

button:hover{
	color: green;
}

footer .pie{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;
	filter: drop-shadow(4px 4px 4px rgba(0.5, 0, 0, 0.25));
	background: greenyellow;
	align-items: center;
}

footer button{
	width: 10%;
	height: 10%;
	background: black;
	color: #F5F5F5;
	border-radius: 60px;
}

footer p{
	text-align: center;
}